
/// Ico - NEW styles for react-icons

$ico-size: 16px;

.ico-left{
  margin-right: 0.66em;
}

.ico-right{
  margin-left: 0.66em;
}

.ico-all{
  font-size: $ico-size;
}

.ico-mobile{
  font-size: $ico-size;
}

.ico-saas{
  font-size: $ico-size;
}

.ico-material{
  font-size: $ico-size;
}

.ico-service{
  font-size: $ico-size;
}

.ico-line{
  font-size: $ico-size;
}
